

$header: 90px;
$color-menu: rgba(255, 211, 0, 1);
$background-color: #f2f1f1;
$card-height: 570px;
$grey: rgb(119, 119, 119);


$sm: 544px;
$md: 768px;
$md-l: 900px;
$lg: 991px;
$xl: 1250px;
$max-width: 1250px;